PORT=3000
WARUNA_BASE_URL=https://api2.waruna.id
WARUNA_NIK=A00260402
WARUNA_USERNAME=A00260402
WARUNA_PASSWORD=Dario123
LUNCH_CRON=0 55 6 * * *
LUNCH_RUN_DATES=2026-09-18
LUNCH_TIMEZONE=Asia/Jakarta
